@font-face { font-family: Chalk; src: url('../fonts/Chalk.ttf'); }
@font-face { font-family: Lobster; src: url('../fonts/Lobster.otf'); }
@font-face { font-family: OldSchoolClass; src: url('../fonts/OldSchoolClass.ttf'); }
@font-face { font-family: Snickles; src: url('../fonts/Snickles.ttf'); }


h1, h2, h3, h3, h5, h6 {
    font-family: Chalk;
    
}

